{
    "plugins": [
      [
        "babel-plugin-styled-components",
        {
          "displayName": false,
          "fileName": false,
          "minify": true,
          "transpileTemplateLiterals": true,
          "pure": true,
          "namespace": "xiler-chat"
        }
      ]
    ]
  }